# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Joel\Documents\JoelVasquezVillalobos\Curso KAFKA\Kafka NewHorizon\java-kafka-nativo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
